html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.text-15{font-size: 15px;}
.text-16{font-size: 16px;}

.text-20{font-size: 20px;}
.text-23{font-size: 23px;}

.text-200{font-weight: 200;}
.text-300{font-weight: 300;}
.text-400{font-weight: 400;}
.text-500{font-weight: 500;}
.text-600{font-weight: 600;}
.text-700{font-weight: 700;}
.text-800{font-weight: 800;}
.text-900{font-weight: 900;}

input,textarea{
    outline: 0;
    padding: 0px 8px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    display: block;
    width: 100%;
}
input:focus,textarea:focus{
    border: 1px solid #80BEFC;
box-shadow: 1px 0px 5px 1px #BFDFFE;
}

.text-roboto{
    font-family: 'Roboto', sans-serif;
}

.progress {
    background: #E9ECEF;
    height: 8px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    
    width: 75%;
    margin: 0.3rem auto 0;
}

.bar {
    background: #31B4E7;
    height: 100%;
    position: absolute;
    width: 20px;
    transition: all ease 0.25s;
}

button.next{
    color: #fff;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    outline: 0;
    border: 0;
    font-family: 'Nunito', sans-serif;
    background-color:  #F24E00;
    height: 52px;
}
button.next:disabled{background-color: #F2B091;}
button.backBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

button.backBtn img {
    max-width: 18px;
}
/* 
button.next:not(:disabled){
} */